img {
    
    display: inline-block;
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    padding: 20px;
}

.list {
    display: inline-block;
}

.description {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    width: 200px;
    height: 200px;
    top: 50%;
}

.section {
    display: inline-block;
}

.likeButton {
    background-color: transparent;
    color: blue;
    border-color: blue;
    border-radius: 5px;
}